.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-column {
    width: 25%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.left-column .container {
    border-style: solid solid solid none;
    border-radius: 0px 8px 8px 0px;
}

.left-column .container div {
    padding: 8px;
}


.left-column .partitions {
    border-style: dotted none none none;
}

.center-column {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-column {
    width: 25%;
}

.top-bar {
    margin: 8px;
}

.buttons {
    display: inline-grid;
    grid-auto-flow: row;
    grid-auto-columns: max-content;
    row-gap: 8px;
}
